header{
    width: 100vw;
    height: 100px;
    background: pink;
}
h1{
    text-align: center;
    font: 32pt Inconsolata, sans-serif;
    padding-top: 25px;
    color: purple;
}
h2{
    font: 16pt Inconsolata, sans-serif;
    font-weight: bold;
    margin-bottom: 1vw;
}
footer {
    padding: 50px;
    clear: left;
}

body {
    background-color: peachpuff; 
}
p{
    font: 14pt Poppins, sans-serif;
}