select{
    margin-left: 50vw;
    transform: translateX(-50%);
    background-color: cyan;
    color: purple;
    margin-top: 10px;
}
section{
    margin-left: 4.5vw;
    margin-top: 50px;
    padding: 1vw;
    height: 350px;
    width: 300px;
    align-content: center;
    text-align: center;
    border: 2px purple solid;
    border-radius: 15%;
}
section > img {
    height: 150px;
    max-width: 280px;
    margin-bottom: 1vw;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}